{{> _header}}
<div class="Grid">
  <div class="Grid-cell Post-header u-md-size3of12 u-lg-size2of10">
    <header class="u-top-tight u-md-top-default">
      <div class="Content-header">
        {{#if isArchiveHome}}
        <h2 class="Content-heading Post-title">{{{title}}}</h2>
        {{else}}
        <h2 class="Content-heading Post-title u-inline-block"><a href="/blog" class="u-link-subtle">Blog</a> &rsaquo;</h2>
        <h3 class="Content-meta u-inline-block">{{{title}}}</h3>
        {{/if}}
      </div>
      <hr class="Separator--small Separator--light u-top-tight u-md-top-default">
      <div class="Post-blurb Content-header">{{{content}}}</div>
      <hr class="Separator--small Separator--light">
      {{#if isArchiveHome }}
      <div class="Content u-align-center">

        <a class="Button Button--primary Button-link--primary" href="tech/">Tech Stuff Only</a>
        <div class="u-align-center u-v-xs"><em>- or -</em></div>
            <a class="Button Button--primary Button-link--primary" href="life/">Life Stuff Only</a>
      </div>
      {{/if}}
    </header>
  </div>
  <div class="Grid-cell u-md-size9of12 u-lg-size8of10 u-top-default">
    {{#postsByMonth tag=archiveTag}}
      <div>
        <h2 class="Heading--full">{{ month }}</h2>
      </div>
      <div class="Grid TileGrid">
      {{#each this.posts }}
        <div class="Grid-cell u-md-size1of2 Tile-container">
          <div class="Tile">
            {{> post/_blurb }}
          </div>
        </div>
      {{/each}}
      </div>
    {{/postsByMonth}}
  </div>
</div>


{{> _footer}}
