{{> _header }}
      <article class="Post u-margins-off u-sm-top-xs u-md-top-default">
        <div class="Grid">
          <div class="Grid-cell u-md-size2of12">
            <header class="Post-header">
              <div class="Post-meta Content-header">
              <h1 class="Post-title">{{{title}}}</h1>
              <h4 class="Post-date"><time datetime="{{datePublishedISO}}">{{formatDate datePublished}}</time></h4>
              </div>
              <hr class="Separator--small Separator--light u-margins-off">
            </header>
          </div>
          <section class="Grid-cell u-md-size8of12 u-lg-size8of12">
            <div class="Post-content Content">
              {{#if thumbnail}}
                {{#with thumbnail}}
                  <div class="Thumbnail">
                    <div class="FlexEmbed">
                      <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ratio}}">
                        <iframe class="FlexEmbed-content" src="{{url}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                {{/with}}
              {{/if}}
              {{{content}}}
            </article>
          </div>
        </div>
      </article>
  </div>
{{> _footer }}
