{{> _header }}

      <article class="Post">
        <div class="Grid">
          <div class="Grid-cell u-md-size1of6">
            <header class="Post-header">
              <div class="Post-meta">
              <h1 class="Post-title">{{title}}</h1>
              <h4 class="Post-date u-margins-off"><time datetime="{{datePublishedISO}}">{{formatDate datePublished}}</time></h4>
              </div>
              <hr class="Separator--small Separator--subtler u-margins-off">
            </header>
          </div>
          <div class="Grid-cell u-md-size4of6">
            <h1 class="Post-title">{{title}}</h1>
            <div class="Post-content">
              {{{content}}}
            </div>
          </div>
        </div>
      </article>

  </div>
{{> _footer }}
