{{> _header }}
      <article class="u-margins-off u-sm-top-xs u-md-top-default">
        <div class="Grid">
          <div class="Grid-cell u-md-size3of12 u-lg-size2of10">
            <header>
              <div class="Content-header">
                <h2 class="Content-heading Content-title">{{{title}}}</h2>
                <div class="Content-meta"><time datetime="{{datePublishedISO}}">{{formatDate datePublished}}</time></div>
              </div>
              <hr class="Separator--small Separator--light u-top-tight u-md-top-default">
              <div class="Content-blurb Content-header">{{{blurb}}}</div>
              <hr class="Separator--small Separator--light">
              <ul class="List--inline is-indented--xxsm u-top-xs">
                {{#each tags}}
                  <li><span class="u-muted  u-smallcaps"><span class="u-text-xs">#</span>{{this}}</span></li>
                {{/each}}
              </ul>
            </header>
          </div>
          <section class="Grid-cell u-md-size9of12 u-lg-size6of10">
            <div class="Content-content Content u-top-tight u-md-top-off">
              {{#if thumbnail}}
                {{#with thumbnail}}
                  <figure class="Figure Post-thumbnail">
                    <div class="FlexEmbed Figure-embed">
                      <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ratio}}">
                        <iframe class="FlexEmbed-content" src="{{url}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  {{#if caption}}
                    <figcaption class="Figure-caption">{{{caption}}}</figcaption>
                  {{/if}}
                  </figure>
                {{/with}}
              {{/if}}
              {{{content}}}
              <hr class="Separator--small Separator--subtle">
              <p class="u-text-xs u-muted"><em>You may have noticed I don&rsquo;t have any commenting enabled...yet. Hit me up <a href="https://twitter.com/lyzadanger" class="u-link-subtle">@lyzadanger</a> with thoughts; maybe I&rsquo;ll add commenting soon.</em></p>
            </div>
          </section>
        </div>
      </article>
{{> _footer }}
