<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="alternate" type="application/rss+xml"
    href="/feeds/rss.rss" title="Lyza.com: All Posts">
  <link rel="alternate" type="application/rss+xml"
    href="/feeds/tech.rss" title="Lyza.com: Work and Tech Posts">
  <link rel="alternate" type="application/rss+xml"
    href="/feeds/life.rss" title="Lyza.com: Life and Off-topic Posts">
  <title>{{{title}}} | Lyza.com</title>

  <script>
    WebFontConfig = {
      google: {
        families: ['Playfair Display:italic,900']
      }
    };
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js" async></script>
  <script src="/js/site.js" defer="defer"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2791311-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>

  <header role="banner">

    <hr class="Separator--small">

    <nav role="navigation" class="Navigation u-size3of4 u-after1of4 u-top-off" aria-label="Primary Navigation">
      <ul class="List--inline">
        <li class="Navigation-item {{#if isHomePage}}Navigation-item--active{{/if}}">
          <a href="/" class="u-linkClean">Home</a>
        </li>
        <li class="Navigation-item {{#if isAboutPage}}Navigation-item--active{{/if}}">
          <a href="/about" class="u-linkClean">About <span class="u-visually-hidden">Lyza</span></a>
        </li>
          <li class="Navigation-item {{#if isPost }}Navigation-item--active{{/if}}"><a href="/blog" class="u-linkClean">Blog</a></li>
      </ul>
    </nav>

    <div class="Header Grid {{#unless isHomePage}}Header--small Grid--alignMiddle{{else}}Grid--alignTop{{/unless}}">

      <div class="Grid-cell Header-title-container u-margins-off {{#if isHomePage}}u-md-size4of12{{else}}u-md-size5of12{{/if}}">
        <img src="/images/lyza.gif" class="Header-photo" alt="Lyza Danger Gardner, human">
        <h1 class="Header-title u-margins-off">
          <span class="Header-Lyza Header-Lyza-lyza">Lyza</span>
          <span class="Header-Lyza Header-Lyza-danger">Danger</span>
          <span class="Header-Lyza Header-Lyza-gardner">Gardner</span>
        </h1>
      </div>

      <div class="Grid-cell {{#if isHomePage}}u-md-size3of12 u-lg-size4of12{{else}}u-md-size3of12 u-lg-size4of12{{/if}}"></div>

      <div class="Grid-cell {{#if isHomePage}}u-md-size5of12 u-lg-size4of12{{else}}u-md-size4of12 u-lg-size3of12{{/if}}">
        <h2 class="Header-subheading">Developer <em class="Header-ampersand">&amp;</em> Person</h2>
        {{#if isHomePage}}
          <div class="Header-intro u-top-off">
            <strong class="Header-greeting">Hi! I&rsquo;m Lyza!</strong>
            I am a developer and human, native of Portland, Ore.,
            CTO and co-founder of <a href="http://www.cloudfour.com">Cloud Four</a>.
            I&rsquo;m a generalist with an abiding love for the web. <a href="/about">More <span class="u-visually-hidden">About Lyza</span>...</a>
          </div>
        {{/if}}
      </div>

    </div>
  </header>

  <main role="main" class="u-top-tight u-md-top-default">
