<li class="List-item List-item--spaced ListTile ListTile--paired">
  <div class="Grid">

    <div class="Grid-cell u-md-size1of3">
      <div class="Content-header">
        <h5 class="Content-heading ListTile-title"><a class="u-link-colorless" href="{{url}}">{{title}}</a></h5>
        <time class="Content-meta Content-heading" datetime="{{isoDate date}}">{{formatDate date format="MMM D, YYYY"}}</time>
        <div class="Content-subheading Content-heading"><a href="{{sourceUrl}}" class="u-link-subtle">{{source}}</a></div>
      </div>
    </div>

    <div class="Grid-cell u-md-size2of3 ListTile-body ListTile-right">
      {{#if embed}}
        <div class="Work-embed u-top-tight u-md-top-off">{{{embed}}}<div>
      {{/if}}
      {{#if blurb}}
        <div class="Grid">
          <div class="Grid-cell u-size2of3 u-sm-size3of4">
            <div class="Work-blurb u-top-tight u-md-top-off">
              {{{markdown blurb}}}
            </div>
          </div>
          <div class="Grid-cell u-size1of3 u-sm-size1of4 u-align-center">
            <div class="u-margin-xs u-md-top-off">
              <a class="Button Button--default Button-link--default" href="{{url}}"><span class="u-visually-hidden">Read </span>More</a>
            </div>
          </div>
        </div>
      {{/if}}
    </div>

  </div>

</li>
