<div class="Grid-cell">
  {{> post/_tags }}
</div>
<div class="Grid-cell {{#if thumbnail}}u-md-size1of2{{else}}u-md-size2of3{{/if}}">
  {{#unless thumbnail }}
    <div class="PostBlurb-blurb PostBlurb-blurb--wide">
      {{{blurb}}}
    </div>
  {{else }}
    <div class="PostBlurb-thumbnail--wide">
      {{> post/_thumbnail }}
    </div>
  {{/unless}}
</div>
<div class="Grid-cell {{#if thumbnail}}u-md-size1of2{{else}} u-md-size1of3 u-align-right{{/if}}">
  {{#if thumbnail}}
    <div class="PostBlurb-blurb">
      {{{blurb}}}
    </div>
  {{/if}}
  {{> post/_blurb-link }}
</div>
