  <h3 class="PostBlurb-title"><a class="u-link-colorless" href="{{url}}">{{title}}</a></h3>
  <h4 class="PostBlurb-date"><time datetime="{{ datePublishedISO }}">{{formatDate datePublished}}</time></h4>
  {{> post/_tags }}
  <div class="PostBlurb-blurb">
    {{{blurb}}}
  </div>
