  <div class="Tile-header">
    <div class="Content-header">
      <h3 class="Tile-heading"><a class="u-link-colorless" href="{{url}}">{{{title}}}</a></h3>
      <h4 class="Tile-heading"><time datetime="{{ datePublishedISO }}">{{formatDate datePublished}}</time></h4>
    </div>
  </div>
  <ul class="List--inline is-indented--xxsm u-top-off">
    {{#each tags}}
      <li><span class="u-muted  u-smallcaps"><span class="u-text-xs">#</span>{{this}}</span></li>
    {{/each}}
  </ul>
  <div class="Tile-body u-top-tight">
    {{{blurb}}}
  </div>
