<div class="Grid-cell">
  {{> post/_tags }}
</div>
<div class="Grid-cell {{#if thumbnail}}u-md-size1of2{{else}}u-md-size2of3{{/if}}">
  {{#unless thumbnail }}
    <div class="PostBlurb-blurb PostBlurb-blurb--wide">
      {{{blurb}}}
    </div>
  {{else }}
    <div class="PostBlurb-thumbnail PostBlurb-thumbnail--wide">
      {{#with thumbnail}}
        {{> _embedThumbnail }}
      {{/with}}
    </div>
  {{/unless}}
</div>
<div class="Grid-cell {{#if thumbnail}}u-md-size1of2{{else}} u-md-size1of3 u-align-right{{/if}}">
  <div class="Grid">
  {{#if thumbnail}}
    <div class="PostBlurb-blurb Grid-cell u-md-size3of4">
      {{{blurb}}}
    </div>
  {{/if}}
  <div class="Grid-cell {{#if thumbnail}}u-md-size1of4{{/if}}">
    {{> post/_blurb-link }}
  </div>
</div>
</div>
